body 
{
    margin : 5px;    
    background-color : #cccccc;
    width : 90%;
}

input
{
    background-color: #cccccc;
    border:solid 1px #ffffff;
}

td 
{
    padding: 1px;
}

h1 
{
    font-size: 140%;
    padding: 0px;
    margin-top: 3px; 
    margin-bottom: 4px; 
}

h2 
{
    font-size: 120%;        
    padding: 0px;
    margin-top: 3px; 
    margin-bottom: 4px; 
}

hr
{
    padding: 3px;
    margin-top: 3px; 
    margin-bottom: 3px; 
}

