body 
{
    margin: 12px;    
    background-color: #bbbbbb;
}

input
{
    background-color: #bbbbbb;
    border:solid 1px #ffffff;
}

td 
{
    padding: 0px;
}

h1 
{
    font-size: 150%;
    padding: 0px;
    margin-top: 3px; 
    margin-bottom: 4px; 
}

h2 
{
    font-size: 120%;        
    padding: 0px;
    margin-top: 3px; 
    margin-bottom: 4px; 
}

hr
{
    padding: 3px;
    margin-top: 3px; 
    margin-bottom: 3px; 
}